<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
       <title>Celulares AVL</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:7em; 
                height:7em;
                line-height:7em;
                text-align: center;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid #FF0000;
                background-color: #FF0000;
                color: #cccccc;
            }

        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            
            <p:panel header="Arbol Binario Balanceado - numero de celulares #{controladorAVL.arbolAvl.cantidadNodos}" 
                     rendered="#{!controladorAVL.verRegistrar}" id="panelIncio">
                
                
                <p:diagram value="#{controladorAVL.model}" 
                           style="height:600px" styleClass="ui-widget-content" />
                <br/>
               
                    <p:commandButton value="Borrar Menor" action="#{controladorAVL.borrarMenor()}" update="@all" ajax="false"/>
                    <p:commandButton value="Borrar Mayor" action="#{controladorAVL.borrarMayor()}" update="@all" ajax="false"/>
                
                <br/>
                <p:inputText  value="#{controladorAVL.imeiBorrar}"/>
                <p:commandButton value="Borrar" action="#{controladorAVL.borrarDato()}" update="@all" ajax="false"/>

                <br/>
                <p:inputText  value="#{controladorAVL.imeiBuscar}"/>
                <p:commandButton value="Buscar" action="#{controladorAVL.habilitarBusqueda()}" update="@all" ajax="false"/>
                <p:outputLabel value=" #{controladorAVL.buscarCelular()}" rendered="#{controladorAVL.habilitarBuscar}"/>
                
                    <p:commandButton value="Nuevo" action="#{controladorAVL.habilitarRegistrar()}"
                                     update="@all"   />
                    <p:commandButton value="Balancear" action="#{controladorAVL.balancear()}"
                                     update="@all"  ajax="false"  />
                
                <p:panelGrid columns="1"   >

                    <p:outputLabel value="Los Precios De los celulares suman en total:  #{controladorAVL.arbolAvl.sumarPrecios()}"/> 

                    <p:outputLabel value="El promedio de los precios de los celulares es:  #{controladorAVL.arbolAvl.calcularPromedioPrecios()}"/>

                </p:panelGrid>
            </p:panel>
            <p:panel header="Operaciones Extras" 
                     rendered="#{!controladorAVL.verRegistrar}" id="panelOpeExtra">
                
                    <p:panelGrid columns="2"   >
                        <p:outputLabel value="Operador: "/>
                        <p:selectOneMenu value="#{controladorAVL.operador}">                            
                            <f:selectItems value="#{controladorAVL.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>

                        <br/>
                        <p:commandButton value="Hacer Preorden" action="#{controladorAVL.verHabilitarTabla()}" ajax="false"
                                         update="@all"/>

                    </p:panelGrid>
               
                <p:dataTable value="#{controladorAVL.recorrerPreOrdenOperador()}"  rendered="#{controladorAVL.habilitarTabla}" 
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                </p:dataTable>
                <br/>
              
                    <p:outputLabel  value="Contar Celulares, que en su  marca contengan una letra dada"  style=" width:  50px"/>
               
                <br/>
                
                    <p:panelGrid columns="2" >

                        <p:inputText id="Letra" value="#{controladorAVL.letra}"/>
                        <p:commandButton value="Contar" action="#{controladorAVL.habilitarContar()}" update="@all" ajax="false"/>
                        <p:outputLabel   value="El numero de celulares con la letra #{controladorAVL.letra}
                                         es: #{controladorAVL.contarCelularesxLetra()}  " rendered="#{controladorAVL.contarLetra}" />
                    </p:panelGrid>
                    <br/>
               
                <p:panelGrid columns="3" >
                    <p:commandButton value="Altura " action="#{controladorAVL.habilitarAltura()}" update="@all" ajax="false"/>
                    <p:outputLabel   value="La altura del arbol 
                                     es: #{controladorAVL.arbolAvl.retornarAltura()}  " rendered="#{controladorAVL.habilitaAltura}" />
                    <p:commandButton value="Listar hojas " action="#{controladorAVL.verHojas()}" update="@all" ajax="false"/>
                    <p:commandButton value="Podar " action="#{controladorAVL.podar()}" update="@all" ajax="false"/>
                    <p:inputText  value="#{controladorAVL.padre}"/>
                    <p:commandButton value="Buscar Padre" action="#{controladorAVL.habilitarPadre()}" update="@all" ajax="false"/>
                    <p:outputLabel   value= 
                                     "#{controladorAVL.darPadre(controladorAVL.padre)}  " rendered="#{controladorAVL.habilitaPadre}" />
                </p:panelGrid>
                <br/>
               
                    <p:commandButton value="Preorden " action="#{controladorAVL.verPreorden()}" update="@all" ajax="false"/>
                    <p:commandButton value="Inorden " action="#{controladorAVL.verInOrden()}" update="@all" ajax="false"/>
                    <p:commandButton value="Posorden " action="#{controladorAVL.verPosorden()}" update="@all" ajax="false"/>
                    <p:commandButton value="Imprimir Niveles " action="#{controladorAVL.verNiveles()}" update="@all" ajax="false"/>
              
                <br/>
                <p:dataTable value="#{controladorAVL.arbolAvl.listarHojas()}"  rendered="#{controladorAVL.habilitarTablaHojas}" 
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                     <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Marca"/>
                        </f:facet>
                         <p:outputLabel value="#{filaIn.marca.descripcion}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>



        </h:form>
        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorAVL.verRegistrar}">
                
                    <p:panelGrid columns="2">
                         <p:outputLabel value="Codigo"/>
                         <p:inputText required="true" value="#{controladorAVL.dato.codigo}"/>
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorAVL.dato.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorAVL.dato.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorAVL.dato.marca.codigo}">
                            <f:selectItems value="#{controladorAVL.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorAVL.dato.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorAVL.dato.operador.nombre}">                            
                            <f:selectItems value="#{controladorAVL.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorAVL.dato.precio}"/>
                        <p:outputLabel value="Cantidad"/>
                        <p:spinner required="true" value="#{controladorAVL.dato.cantidad}" min="1"/>
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorAVL.adicionarNodo()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                         action="#{controladorAVL.cancelarGuardado()}" />
                    </p:panelGrid>
              

            </p:panel>


            <p:dataTable value="#{controladorAVL.arbolAvl.inOrden()}"
                         var="filaIn" rendered="#{controladorAVL.habilitarTablaIn}" >
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
                 <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="cantidad"/>
                    </f:facet>
                     <p:outputLabel value="#{filaIn.cantidad}"/>
                </p:column>
            </p:dataTable>




            <p:dataTable value="#{controladorAVL.arbolAvl.recorrerPreOrden()}"  rendered="#{controladorAVL.habilitarTablaPre}"
                         var="filaIn">
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Operador"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.operador.nombre}"/>
                </p:column>
            </p:dataTable>


            <p:dataTable value="#{controladorAVL.arbolAvl.recorrerPostOrden()}"
                         var="filaIn" rendered="#{controladorAVL.habilitarTablaPos}" >
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
            </p:dataTable>
            
            
            <p:outputLabel  value="#{controladorAVL.arbolAvl.imprimirNivel()}"
                            rendered="#{controladorAVL.impNivel}" />
               
            <p:commandButton value="Regresar" action="#{login.regresarIndex()}" update="@all" ajax="false" class="btnRegresar"/>
        </h:form>
    </h:body>
</html>

