<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menu</title>


        <style type="text/css">
            
            
            .btnCelulares{
                width: 100px; 
                height:50px; 
                text-align: center ; 
                text-height: auto;
                
            }
            .btnBatalla{
                width: 100px; 
                height:50px; 
                text-align: center ; 
                text-height: auto;
            }

            

        </style>
    </h:head>
    <h:body>

        <h:form>
            <p:growl id="Error" />

            <p:panel header="Arboles " class="pnMenuArboles" >
                <center>
                    <br>
                        <p:commandButton value="Arbol ABB" action="#{login.ingresarArbolCelulares()}" update="@all" ajax="false" 
                                         class="btnCelulares" />
                        </br><br>
                        <p:commandButton value="Arbol N-Ario" action="#{login.ingresarArbolNCelulares()}" update="@all" ajax="false" 
                                         class="btnBatalla"/>
                        </br><br>
                       
                        <p:commandButton value="Arbol AVL" action="#{login.ingresarArbolAvl()}" update="@all" ajax="false" 
                                         class="btnCelulares" />
                    
            </br>
                     </center>
                        <p:commandButton value="Volver" action="#{login.regresarIndex()}" update="@all" ajax="false"  />
               
            </p:panel>                 
        </h:form>
    </h:body>
</html>

