<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    

<h:head>
        <title>Batalla Naval</title>
       
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form >
            <p:panelGrid columns="2"  style=" background: black" >

                            <p:outputLabel value="Fila:" style="height: 4px ; width: 4px" />
                            <p:spinner value="#{controladorJuego.fila1}" min="0" max="#{controladorJuego.tablero2}"  size="3"/>

                            <p:outputLabel value=" Columna:" style="height: 4px ; width: 4px"/>
                            <p:spinner value="#{controladorJuego.columna1}" min="0" max="#{controladorJuego.tablero2}"  size="3"/>
            </p:panelGrid>
                         
                       
                        
                        
            <p:commandButton value="Disparar"  action="#{controladorJuego.dispararJug2()}" disabled="#{controladorJuego.turno2}"
                                             update="@all" ajax="false"/>
                        
                    

                    
                        <p:outputLabel value="Contrincante" style="; font-weight: 100; margin-left: 50%"/>
                        
                        <br>
                       
                            <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador1()}"  >

                                <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador1()}">

                                    <p:commandButton value="[#{fila},#{columna}]"  
                                                     style="#{controladorJuego.obtenerEsiloDeCoordenada2(fila,columna)}"

                                                     disabled="#{controladorJuego.verififcarDisparoJugador1(fila, columna)}"/>
                                </c:forEach>
                                
                                <br/>
                            </c:forEach>
</br>
                        <p:outputLabel value="Estado:"/>
                        <h:outputText value="#{controladorJuego.estado}"/>

                   
                <p:layoutUnit position="west" resizable="true" size="270"  minSize="40" maxSize="300" style="background: transparent ; color: transparent">
                    <p:dataTable value="#{controladorJuego.arbolNBatallaJugador1.listarBarcosPosicionados()}" var="barco">                  
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre" />
                        </f:facet>
                        <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Estado" />
                        </f:facet>
                        <p:outputLabel value="#{barco.estado.descripcion}"/>
                    </p:column>
                </p:dataTable>
                </p:layoutUnit>
                
                
                    <br>  
                        
                        
                        
                        
                    <p:outputLabel value="Mi Tablero" style="; font-weight: 500; margin-left: 50%"/>
                    <br>
                    
                        <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador2()}"  >

                            <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador2()}">

                                <p:commandButton value="[#{fila},#{columna}]"  
                                                 style="#{controladorJuego.pintarBarcosJugador2(fila, columna)}"/>

                            </c:forEach>
                            <br/>
                        </c:forEach>

                   
                        </br>
                            </br>
                
            
            
              
        </h:form>
    </h:body>
</html>

