<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"


      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>Jugador</title>
    </h:head>
    <style type="text/css">
        
        .pngUsu {
            margin-left: 520px;
            font-weight: 700;
            align-content: center;
        }

        .pngContr {

            margin-left: 520px;
            font-weight: 700;
            align-content: center;

        }

        



    </style>
    <h:body>
        <h:form>
            <p:growl id="Error" />

            

               
                    <p:outputLabel value="Usuario" class="outUsuario"/>
                    <p:inputText value="#{login.usuarioJug}" />
                
                <br/>
                
                    <p:outputLabel  value="Contraseña" class="outContrasena"/>
                    <p:password  value="#{login.contrasenaJug}" />
                
                <br/>
                
                    <p:selectOneMenu  value="#{login.rol}"  >
                        <f:selectItems value="#{controladorJuego.roles}" 
                                       var="rol" itemLabel="#{rol.nombre}"
                                       itemValue="#{rol.nombre}"/>
                    </p:selectOneMenu>
               
                <br/>
                <br/>
                <p:commandButton  value="Ingresar" action="#{login.ingresarMenuJugador()}" update="@all" ajax="false" 
                                  class="btnAdministrador" />
                <p:commandButton value="Volver" action="#{login.regresarIndex()}" update="@all" ajax="false" 
                                 />
            
           
        </h:form>

    </h:body>
</html>

