<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Usuario Batalla</title>
        <style type="text/css">
            
            .btnAdministrador{
                margin-left: 180px;
                width: 300px; 
                height:300px; 
                text-align: center ; 
                text-height: auto;
            }
            .btnJugador{
                margin-left: 360px;
                width: 300px; 
                height:300px; 
                text-align: center ; 
                text-height: auto;
            }

            
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="Error" />

            
                <p:commandButton  value="Administrador" action="#{login.ingresarLoginAdministrador()}" update="@all" ajax="false" 
                                  class="btnAdministrador"  />
                <p:commandButton value="Jugador" action="#{login.ingresarLoginJugador()}" update="@all" ajax="false" 
                                 class="btnJugador"/>
            
            <br/>
            
             <br/>
             
             <br/>
             
             <br/>
           
                <p:commandButton value="Regresar" action="#{login.regresarIndex()}" update="@all" ajax="false"  />
           
        </h:form>
    </h:body>
</html>

