<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Administrador</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:7em; 
                height:7em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
                border-radius: 5em;
                border: 1px solid #8E5144;
                background-color: #8E5144;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #8E5144;
            }



            

        </style>
    </h:head>
    <h:body>
         <p:growl id="grwErrores"/>
        <h:form>
            
            <p:growl id="errores"/>
            <p:panel header="Administrador - numero de barcos #{conroladorBatallaNaval.arbolBB.sumarCantidadBarcos()}" class="pnlDiagrama"  rendered="#{conroladorBatallaNaval.ocultarPanel}">
                <p:diagram value="#{conroladorBatallaNaval.model}" 
                           style="height:600px" styleClass="ui-widget-content" />
            </p:panel>
            
                <p:commandButton value="Crear Tipo de Barco" action="#{conroladorBatallaNaval.habilitarRegistrar()}" 
                                 update="@all" ajax="false" rendered="#{conroladorBatallaNaval.ocultarPanel}"/>   
                <p:commandButton value="Consultar Tipo de Barco" action="#{conroladorBatallaNaval.habilitarConsulta()}" 
                                 update="@all" ajax="false" rendered="#{conroladorBatallaNaval.ocultarPanel}"/>

                <p:commandButton value="Generar Tableros" action="#{controladorJuego.generarBarcosJuego()}" 
                                 disabled="#{conroladorBatallaNaval.deshabilitarTableros}"  update="@all" ajax="false"/>
                <p:commandButton value="salir" action="#{login.regresarIndex()}"  ajax="false" update="@all" class="btnSalir" />
        
    </h:form>

    <h:form>
        <p:panel  header="Registrar Tipo de barco"  class="pnlRegistrarBarcos" rendered="#{conroladorBatallaNaval.verRegistrar}" >
            
                <p:panelGrid columns="2">
                    <p:outputLabel  value="Nombre"/>
                    <p:inputText  required="true" value="#{conroladorBatallaNaval.barco.nombre}"/>
                    <p:outputLabel for="nrocasillas" value="Número de casillas"/>
                    <p:spinner id="nrocasillas" value="#{conroladorBatallaNaval.barco.nroCasillas}" min="1" max="15" />
                    <p:outputLabel for="cantidadJuego" value="Cantidad" />
                    <p:spinner id="cantidadJuego" value="#{conroladorBatallaNaval.barco.cantidadJuego}" min="1" max="20" />
                    <p:commandButton value="Guardar" update="@all" ajax="false"
                                     action="#{conroladorBatallaNaval.guardarTipoBarco()}"/>
                    <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                     action="#{conroladorBatallaNaval.cancelarGuardado()}" />
                </p:panelGrid>

            
        </p:panel>    
    </h:form>

    <h:form>
        <p:panel  header="Consultar tipo de barco"  class="pnlConsultarBarcos" rendered="#{conroladorBatallaNaval.verConsultar}" >
            
                <p:panelGrid columns="2">
                    <p:outputLabel  value="Nombre"/>

                    <p:inputText  required="true" value="#{conroladorBatallaNaval.barcoBuscar}"/>
                    <p:commandButton value="Cosultar" update="@all" ajax="false"
                                     action="#{conroladorBatallaNaval.consultarBarco()}"/>
                    <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                     action="#{conroladorBatallaNaval.cancelarConsultarBarco()}" />
                </p:panelGrid>

            
            <p:dataTable value="#{conroladorBatallaNaval.buscarBarco()}" 
                         var="bar" rendered="#{conroladorBatallaNaval.verTablaConsulta}" >
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nombre" />
                    </f:facet>
                    <p:outputLabel value="#{bar.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Numero de casillas" />
                    </f:facet>
                    <p:outputLabel value="#{bar.nroCasillas}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Cantidad" />
                    </f:facet>
                    <p:outputLabel value="#{bar.cantidadJuego}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Eliminar" />
                    </f:facet>
                    <p:commandButton value="Eliminar" action="#{controladorBatalla.borrarDato(bar)}"  
                                     update="@all" ajax="false" />
                </p:column>
            </p:dataTable>
        </p:panel>




    </h:form>
</h:body>
</html>

