<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Jugador 2</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #39889D;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }




        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form id="fmrSeleccionBarco">
            
            <br/>
            <p:panel header="Distribuir Barcos" 
                     id="panelIncio" class="pnlDistribuir" >
                
                    <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador2()}"  >

                        <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador2()}">

                            <p:commandButton value="[#{fila},#{columna}]" 
                                             style="#{controladorJuego.pintarBarcosJugador2(fila, columna)}"
                                             />
                        </c:forEach>
                        <br/>
                    </c:forEach>
                

             </p:panel>  
                    <p:commandButton value="verificar" action="#{controladorJuego.validarTableroLLenoJugador2()}" update="@all"/>
                    <p:commandButton value="Listo" action="#{login.ingresarJuegoBatalla2()}"/>
                    <p:commandButton value="Salir" action="#{login.regresarIndex()}" update="@all" ajax="false" class="btnRegresar"/>
                
            

            <p:panel header="seleccion barcos #{controladorJuego.arbolNBatallaJugador2.cantidadNodos}" 
                     id="panelSeleccion" class="pnlSeleccionBarcos" >
                
                    <p:diagram value="#{controladorJuego.model2}" id="diagrama"
                               style="height:600px" styleClass="ui-widget-content" />
                
                    <p:panelGrid columns="2">

                        <p:outputLabel value="Fila:    "/>
                        <p:spinner value="#{controladorJuego.fila}" min="0" max="#{controladorJuego.tablero2}"  />

                        <p:outputLabel value="Columna:   "/>
                        <p:spinner value="#{controladorJuego.columna}" min="0" max="#{controladorJuego.tablero2}"  />


                        <p:outputLabel value="Direccion"/>

                        <p:selectOneMenu id="direccion" value="#{controladorJuego.direccion}" style="width:125px">
                            <f:selectItem itemLabel="seleccione" itemValue="" />
                            <f:selectItem itemLabel="Horizontal" itemValue="Horizontal" />
                            <f:selectItem itemLabel="Vertical" itemValue="Vertical" />
                        </p:selectOneMenu>
                    </p:panelGrid>
               
                <p:dataTable value="#{controladorJuego.arbolNBatallaJugador2.listarBarcos()}" var="barco">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Identificador" />
                        </f:facet>
                        <p:outputLabel value="#{barco.identificador}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre" />
                        </f:facet>
                        <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Cordenadas" />
                        </f:facet>
                        <p:outputLabel value="#{barco.mostrarCoordenadas()}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Asignar Coordenadas" />
                        </f:facet>
                        <p:commandButton value="Asignar" action="#{controladorJuego.asignarCoordenadasjugador2MenuContext(barco)}"  

                                         update="@all" ajax="false" />
                    </p:column>
                </p:dataTable>
            </p:panel>
                       <p:remoteCommand name="elementClickRight" 
                                         actionListener="{controladorJuego.onClickRight()}">
                        </p:remoteCommand>
                        <script>
                            $(document).ready(function () {
                                $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                                    if (info.which === 3) {
                                        elementClickRight([{
                                                name: 'elementId',
                                                value: info.target.id
                                            }]);
            
                                    }
                                });
                            });
                        </script>



                       <p:contextMenu for="panelSeleccion" id="pnCmVeh" 
                                       targetFilter=".ui-diagram-element" >
                            <p:menuitem value="asignar coordenadas" update="@all"
                                        ajax="false" icon="ui-icon-disk" 
                                        action="{controladorJuego.asignarCoordenadasjugador1MenuContext()}"
                                        />
            
                        </p:contextMenu>
        </h:form>
    </h:body>
</html>

