<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Arboles</title>
        <link rel="stylesheet" type="text/css" href="resources/css/modificaciones.css" media="screen" />
        <style type="text/css">
            
            .pnMenuArboles{
             
            }
            .btnCelulares{
                margin-left: 130px;
                width: 350px; 
                height:350px; 
                text-align: center ; 
                text-height: auto;
            }
            .btnBatalla{
                margin-left: 280px;
                width: 350px; 
                height:350px; 
                text-align: center ; 
                text-height: auto;
            }

            
        </style>
    </h:head>
    <h:body>

        <h:form>
            <p:growl id="Error" />

            
                <p:commandButton value="Celulares" action="#{login.ingresarArbolCelulares()}" update="@all" ajax="false" 
                                 class="btnCelulares" />
                
                <p:commandButton value="Batalla Naval" action="#{login.ingresarBatalla()}" update="@all" ajax="false" 
                                 class="btnBatalla"/>
            
        </h:form>
    </h:body>
</html>

